- if offset > 0 || total > limit
  %p.small
    %span.item Pages:
    - if offset.positive?
      %a.item{href: iri.over(offset: offset - limit)} Previous
    - current = (offset / limit).round
    - (0..(total / limit).round).each do |p|
      - next if p < current - 5 || p > current + 5
      %a.item{href: iri.over(offset: p * limit), style: p == current ? 'font-weight:bold' : ''}= p + 1
    - if count >= limit
      %a.item{href: iri.over(offset: offset + limit)} Next
