%h2
  Add/Copy

%form{method: 'POST', action: '/do-add'}
  %label Cause:
  %br
  %input{type: 'text', name: 'cause', size: 40, autocomplete: 'off', autofocus: 'true', tabindex: 1, value: defined?(c_item) ? c_item.text : ''}
  %input{id: 'cid', name: 'cid', size: 4, autocomplete: 'off', readonly: true, value: defined?(c_item) ? c_item.id : ''}
  - if defined?(c_item)
    %a{href: '#', onclick: "$('#cid').val('');$(this).hide();return false;"} Detach
  %br
  %label Risk:
  %br
  %input{type: 'text', name: 'risk', size: 40, autocomplete: 'off', tabindex: 2, value: defined?(r_item) ? r_item.text : ''}
  %select{name: 'probability', tabindex: 3}
    - {'Extremely high' => 8, 'High' => 6, 'Low' => 4, 'Very low' => 2}.each do |k, v|
      %option{value: v, selected: defined?(probability) && probability == v}= k
  %input{id: 'rid', name: 'rid', size: 4, autocomplete: 'off', readonly: true, value: defined?(r_item) ? r_item.id : ''}
  - if defined?(r_item)
    %a{href: '#', onclick: "$('#rid').val('');$(this).hide();return false;"} Detach
  %br
  %label Effect:
  %br
  %input{type: 'text', name: 'effect', size: 40, autocomplete: 'off', tabindex: 4, value: defined?(e_item) ? e_item.text : ''}
  %select{name: 'impact', tabindex: 5}
    - {'Catastrophic' => 8, 'Serious' => 6, 'Moderate' => 4, 'Unnoticable' => 2}.each do |k, v|
      %option{value: v, selected: defined?(impact) && impact == v}= k
  %input{id: 'eid', name: 'eid', size: 4, autocomplete: 'off', readonly: true, value: defined?(e_item) ? e_item.id : ''}
  - if defined?(e_item)
    %a{href: '#', onclick: "$('#eid').val('');$(this).hide();return false;"} Detach
  %br
  %label Plan:
  %br
  %input{type: 'text', name: 'plan', size: 40, autocomplete: 'off', tabindex: 7, value: defined?(p_item) ? p_item.text : ''}
  %input{id: 'pid', name: 'pid', size: 4, autocomplete: 'off', readonly: true, value: defined?(p_item) ? p_item.id : ''}
  - if defined?(p_item)
    %a{href: '#', onclick: "$('#pid').val('');$(this).hide();return false;"} Detach
  %br
  %label Schedule:
  %br
  %input{type: 'text', name: 'schedule', size: 30, autocomplete: 'off', tabindex: 8, value: defined?(schedule) ? schedule : ''}
  %br
  %input{type: 'submit', value: 'Submit', tabindex: 9}
