%h2
  Add

%form{method: 'POST', action: '/do-add'}
  %label Cause:
  %input{type: 'text', name: 'cause', size: 40, autocomplete: 'off', autofocus: 'true', tabindex: 1}
  %input{type: 'text', name: 'cid', size: 4, autocomplete: 'off'}
  %label Risk:
  %input{type: 'text', name: 'risk', size: 40, autocomplete: 'off', tabindex: 2}
  %select{name: 'probability', tabindex: 3}
    %option{value: 8} Extremely high
    %option{value: 6} High
    %option{value: 4} Low
    %option{value: 2} Very low
  %input{type: 'text', name: 'rid', size: 4, autocomplete: 'off'}
  %label Effect:
  %input{type: 'text', name: 'effect', size: 40, autocomplete: 'off', tabindex: 4}
  %select{name: 'impact', tabindex: 5}
    %option{value: 8} Catastrophic
    %option{value: 6} Serious
    %option{value: 4} Moderate
    %option{value: 2} Unnoticable
  %input{type: 'text', name: 'eid', size: 4, autocomplete: 'off'}
  %label Strategy:
  %select{name: 'strategy', tabindex: 6}
    %option{value: 'mitigate'} Mitigate
    %option{value: 'accept'} Accept
  %label Plan:
  %input{type: 'text', name: 'plan', size: 40, autocomplete: 'off', tabindex: 7}
  %input{type: 'text', name: 'pid', size: 4, autocomplete: 'off'}
  %input{type: 'submit', value: 'Add', tabindex: 8}
