%link{href: 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css', rel: 'stylesheet'}
%script{src: 'https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js'}
%script{src: 'https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js'}
%script{src: '/js/add.js'}

%h2
  Add/Copy

%form{method: 'POST', action: iri.cut('/do-add')}
  %label Cause:
  %br
  %input{id: 'cause', type: 'text', name: 'cause', size: 35, autocomplete: 'off', autofocus: 'true', tabindex: 1, value: defined?(c_item) ? c_item.text : ''}
  %input{id: 'cid', name: 'cid', size: 3, style: 'text-align:right', autocomplete: 'off', readonly: true, value: defined?(c_item) ? c_item.id : ''}
  %a{id: 'cause_detach', href: '#', style: defined?(c_item) ? '' : 'display: none;'} Detach
  %br

  %label Risk:
  %br
  %input{id: 'risk', type: 'text', name: 'risk', size: 50, maxlength: 160, tabindex: 2, value: defined?(r_item) ? r_item.text : ''}
  %input{id: 'rid', name: 'rid', size: 3, style: 'text-align:right', autocomplete: 'off', readonly: true, value: defined?(r_item) ? r_item.id : ''}
  %a{id: 'risk_detach', href: '#', style: defined?(r_item) ? '' : 'display: none;'} Detach
  %br
  %select{id: 'probability', name: 'probability', tabindex: 3}
    - {'Extremely high' => 8, 'High' => 6, 'Low' => 4, 'Very low' => 2}.each do |k, v|
      %option{value: v, selected: defined?(probability) && probability == v}= k
  %br

  %label Effect:
  %br
  %input{id: 'effect', type: 'text', name: 'effect', size: 40, maxlength: 160, autocomplete: 'off', tabindex: 4, value: defined?(e_item) ? e_item.text : ''}
  %input{id: 'eid', name: 'eid', size: 3, style: 'text-align:right', autocomplete: 'off', readonly: true, value: defined?(e_item) ? e_item.id : ''}
  %a{id: 'effect_detach', href: '#', style: defined?(e_item) ? '' : 'display: none;'} Detach
  %br
  %select{id: 'impact', name: 'impact', tabindex: 5}
    - {'Catastrophic' => 8, 'Serious' => 6, 'Moderate' => 4, 'Unnoticable' => 2}.each do |k, v|
      %option{value: v, selected: defined?(impact) && impact == v}= k
  %br

  %label Avoidance/Mitigation Plan:
  %br
  %input{id: 'plan', type: 'text', name: 'plan', size: 45, maxlength: 160, autocomplete: 'off', tabindex: 7, value: defined?(p_item) ? p_item.text : ''}
  %input{id: 'pid', name: 'pid', size: 3, style: 'text-align:right', autocomplete: 'off', readonly: true, value: defined?(p_item) ? p_item.id : ''}
  %a{id: 'plan_detach', href: '#', style: defined?(p_item) ? '' : 'display: none;'} Detach
  %br
  %label Schedule:
  %br
  %input{id: 'schedule', type: 'text', name: 'schedule', size: 22, maxlength: 20, autocomplete: 'off', tabindex: 8, value: defined?(schedule) ? schedule : ''}
  %br
  %a.item.small{href: '#', id: 'schedule_asap'} ASAP
  %a.item.small{href: '#', id: 'schedule_week'} This week
  %a.item.small{href: '#', id: 'schedule_month'} This month
  %a.item.small{href: '#', id: 'schedule_later'} Later
  %br
  %input{type: 'submit', value: 'Submit', tabindex: 9}
