-# SPDX-FileCopyrightText: Copyright (c) 2019-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%p
  You have to login first.

%p
  This is an online risk manager, where you register
  all know risks in your project, assign probabilities
  and impacts, and then create mitigation and avoidance
  plans for them. Using this information the system
  generates an agenda of the most critical tasks for you.

%p
  Read this blog post before you start using it:
  %a{href: 'https://www.yegor256.com/2019/05/14/cause-risk-effect.html'} 0rsk.com: Cause + Risk + Effect

%p
  You may also want to watch
  %a{href: 'https://youtu.be/WlI6IZ6M7vY'} this video
  first.

%p
  Also, check this
  %a{href: 'https://github.com/yegor256/awesome-risks'} curated list
  of causes, risks, and effects.
