%h2
  Plans

%table
  %thead
    %tr
      %th Id
      %th Text
      %th Schedule
  %tbody
    - plans.each do |r|
      %tr
        %td
          %code= r[:id]
        %td
          &= r[:text]
        %td
          = r[:schedule]

%p
  - if offset.positive?
    %a.item{href: iri.over(offset: offset - 25)} Previous
  - if plans.count >= limit
    %a.item{href: iri.over(offset: offset + 25)} Next

