- # SPDX-FileCopyrightText: Copyright (c) 2019-2025 Yegor Bugayenko
- # SPDX-License-Identifier: MIT

%h2
  Projects

%form{method: 'POST', action: iri.cut('/projects/create')}
  %input{type: 'text', name: 'title', size: 20, maxlength: 12, autocomplete: 'off', autofocus: 'true', tabindex: 1, required: true, placeholder: 'Project title'}
  %input{type: 'submit', value: 'Create', tabindex: 2}

- if projects.empty?
  %p
    There are no projects in your account yet.
  %p
    You should create one in order to start using 0rsk.
- else
  %p
    Pick one of your projects to work with:
  - projects.each do |p|
    %p
      = "##{p[:id]}:"
      %a{href: iri.cut('/projects/select').add(id: p[:id]), title: 'Click to pick this project'}<
        &= p[:title]
      %br
      %span.small
        %a.item{href: iri.cut('/projects/delete').add(id: p[:id]), onclick: "return confirm('Are sure you want to delete it?');"} Delete
