-# SPDX-FileCopyrightText: Copyright (c) 2019-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%h2
  Project
  = "##{pid}"

%p
  Your project is doing great!

%p
  See
  %a{href: iri.cut('/projects')} all projects
