%h2
  Projects

%form{method: 'POST', action: '/projects/create'}
  %label New one:
  %input{type: 'text', name: 'title', size: 40, autocomplete: 'off', autofocus: 'true', tabindex: 1}
  %input{type: 'submit', value: 'Create', tabindex: 2}

- projects.each do |p|
  %p
    %a{href: "/projects/select?id=#{p[:id]}"}= p[:title]
