%form{method: 'GET', action: ''}
  %input{type: 'text', name: 'q', size: 40, autocomplete: 'off', autofocus: 'true', tabindex: 1, value: query}
  %input{type: 'submit', value: 'Search', tabindex: 2}

- if tasks.empty?
  %p
    The agenda is empty.
- else
  - tasks.each do |p|
    %p
      &= p[:text]
      %a.item.small{href: iri.cut('/tasks/done').add(pid: p[:id].id)} Done

%p
  - if offset.positive?
    %a.item{href: iri.over(offset: offset - 25)} Previous
  - if tasks.count >= limit
    %a.item{href: iri.over(offset: offset + 25)} Next

