%h2
  Terms of Use

%p
  The service is provided by Zerocracy, Inc.,
  Ste 470, 555 Bryant Str, Palo Alto, CA 94301,
  free of charge.

%p
  We never disclose your data to anyone.

%p
  When you delete a project, your data is deleted
  from our database.

%p
  We backup the entire database every day and retain
  backup copies for 90 days.

%p
  We use cookies to persist web sessions.

%p
  If any questions,
  = succeed '.' do
    %a{href: 'maito:terms@0rsk.com'} email us
