-# SPDX-FileCopyrightText: Copyright (c) 2019-2025 Yegor Bugayenko
-# SPDX-License-Identifier: MIT

%h2
  Terms of Use

%p
  The service is provided by Zerocracy, Inc.,
  Ste 470, 555 Bryant Str, Palo Alto, CA 94301,
  free of charge.

%p
  We never disclose your data to anyone.

%p
  The data you send to the server and the data
  that is coming back to your browser is protected by
  the SSL encryption.

%p
  GitHub OAuth2 is used to identify you. You must have
  a GitHub account in order to use 0rsk.

%p
  When you delete a project, your data is deleted
  from our database.

%p
  We backup the entire database every day and retain
  backup copies for 90 days.

%p
  We use cookies to persist web sessions.

%p
  The service and the database are hosted by
  = succeed '.' do
    %a{href: 'https://www.heroku.com'} Heroku

%p
  If any questions,
  = succeed '.' do
    %a{href: 'maito:terms@0rsk.com'} email us
